[run]
branch = true
source = drf_file_management


[report]
omit =
    *site-packages*
    *tests*
    *.tox*
    *docs*
    *.github*
show_missing = True
exclude_lines =
    raise NotImplementedError
